.imglist{
    position: relative;
    width: 100%;
    height: 632px;
    overflow: hidden;

}
.img_div{
    width: 100%;
    height: 100%;
    background: url("../img/default.gif") no-repeat center center #e1e1e1;
}
.img_div div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*设置每一张图片所在区域的初始样式:z-index=0 opacity=0*/
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img_div  img {
    display: none;
    width: 100%;
    height: 100%;
}
.contact-header{
    width: 100%;
  overflow: hidden;
    position: relative;

}
.contact-header .contact-center{
    position: absolute;
    top: 50%;
    margin-top: -74px;
    text-align: center;
    width: 100%;
    z-index: 100;


}
.contact-center .Atlantis{
    color: #32b16c;
    font-size: 60px;

}
.contact-center .case{
    font-family: 黑体;
    font-size: 60px;
    color: #fff;
}
.contact-center .item{
    width: 100%;
    color: #32b16c;
    font-size: 22.79px;
    margin: auto;

}

.contact-center .item span{
    border-bottom:1px solid #009900;
    margin-left: 30px;
}
.linkus{
  /*  margin-top: 360px;*/
    background:#32b16c ;
    padding-top:360px;
}


.link-us-content{ background-color:#32b16c; padding:230px 0px; color:#fff;}
.link-us-description{ border-left:3px solid #fff; border-right:3px solid #fff; width:695px; margin:auto; padding-bottom:5px;}
.link-us-description .uk-text-large{ font-size:24px; margin-bottom:38px;}
.link-us-description p{ font-size:18px; margin-top:18px;}

.link-us-icon{ float:left; margin:0 43px 0 45px;}
.link-us-icon2{ float:left; margin:67px 41px 0 54px; height:170px;}
